{% extends 'base.html.twig' %}

{% block title %}
	CTN
{% endblock %}

{% block body %}
	<nav class="navbar shadow-lg navbar-expand-lg navbar-dark bg-dark justify-content-between fixed-top">
		<img src="{{ asset('img/logo.png') }}" alt="Logo" style="max-width: 200px;"/>

		<a class="navbar-brand" href="#">Bienvenue</a>
		<form class="form-inline">
			<button class="btn btn-light my-2 my-sm-0" id="currentDateTime" type="button"></button>
			-
			<button class="btn btn-light my-2 my-sm-0" type="button">♟️
				{{ loginfn }}</button>
			-
			<button class="btn btn-light my-2 my-sm-0" type="button">⚓
				{{ loginnavire }}</button>
			-
			<button class="btn btn-light my-2 my-sm-0" type="button">🧑‍💼
				{{ loginnom }}</button>
			-
		</form>
	</nav>

	<div class="container">
		<br>

		<br>
		<div class="container mt-5">
			<h5>Bienvenue dans votre profil de système de navigation CTN.
				Veuillez insérer votre nouveau mot de passe et réviser vos données personnelles.</52>
			<form action={{url('app_signup_x',{'mat':loginmat} )}}>

				<br>
				<br>
				<div class="form-group">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="password">Mot de Passe</label>
								<input type="password" class="form-control" id="password" name="password">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="passwordc">Mot de Passe Confirmation</label>
								<input type="password" class="form-control" id="passwordc" name="passwordc">
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="Prénom">Prénom</label>
									<input type="text" class="form-control" value="{{ initprenom }}" id="Prénom" name="prenom" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="Nom">Nom</label>
									<input type="text" class="form-control" value="{{ initnom }}" id="Nom" name="nom" required>
								</div>
							</div>
						</div>

						<!-- Row 2: Textbox, Date, and Select -->
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="daten">Date de Naissance</label>
									<input type="date" class="form-control" id="daten" value="{{ initdaten|date('Y-m-d') }}" name="daten" required>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="lieun">Lieu de Naissance</label>
									<input type="text" class="form-control" id="lieun" value="{{ initlieun }}" name="lieun"  required>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="sexe">Sexe</label>
									<select class="form-control" id="sexe" name="sexe">
										<option value="M" {% if initsexe == 'M' %} selected {% endif %}>Masculin</option>
										<option value="F" {% if initsexe == 'F' %} selected {% endif %}>Féminine</option>
									</select>
								</div>
							</div>
						</div>

						<!-- Row 3: Email and Phone Inputs -->
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="email">Email</label>
									<input type="email" value="{{ initemail }}" class="form-control" id="email" name="email" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="tel">Téléphone</label>
									<input type="tel" class="form-control" value="{{ inittel }}" id="tel" name="tel" required>
								</div>
							</div>
						</div>

					
						<br>

						<button type="submit" class="btn btn-danger">Confirmer</button>
						{% if error != '' %}
							&nbsp;
							<button class="btn btn-warning">{{error}}</button>
						{% endif %}
					</form>
				</div>

				<style>
					.table-container {
						max-height: calc(100vh - 80px); /* Adjust the maximum height as needed */
						overflow-y: auto; /* Add vertical scroll for the content */
					}

					.table thead {
						position: sticky;
						top: 0;
						z-index: 1; /* Ensure the header is above the table content */
					}

					#sidebar {
						min-height: 100vh; /* Set the sidebar's minimum height to 100% of the viewport height */
						position: fixed;
					}
					body {
						background-image: url({{ asset('img/background.png') }}); /* Replace with the actual path to your hiba image */
						background-size: cover; /* This will make the image cover the entire background */
						background-repeat: no-repeat; /* Prevent the image from repeating */
					}
					table tr td,
					table tr th {
						background-color: rgba(255, 255, 255, 0.6) !important;
					}

					.dropdown {
						position: relative;
						display: inline-block;
					}

					.dropdown-content {
						display: none;
						position: absolute;
						background-color: #f9f9f9;

						box-shadow: 0 8px 16px 0 rgba(10, 0, 0, 0.2);
						z-index: 1;
					}

					.dropdown:hover .dropdown-content {
						display: flex; /* Use flexbox to make them appear in the same row */
						flex-direction: row; /* Arrange them horizontally */
						top: -10px; /* Position below the dropdown button */
						left: -100px; /* Align with the left edge of the dropdown button */
					}
				</style>

				<script>
					function updateCurrentDateTime() {
var now = new Date()
var year = now.getFullYear()
var month = String(now.getMonth() + 1).padStart(2, '0')
var day = String(now.getDate()).padStart(2, '0')
var hour = String(now.getHours()).padStart(2, '0')
var minute = String(now.getMinutes()).padStart(2, '0')
var second = String(now.getSeconds()).padStart(2, '0')

var currentDateTime = '🕐 ' + year + '-' + month + '-' + day + ' ' + hour + ':' + minute + ':' + second

document.getElementById('currentDateTime').textContent = currentDateTime
}

// Update the current date and time immediately and then update it every minute
updateCurrentDateTime()
setInterval(updateCurrentDateTime, 1000) // Update every 1 minute (60000 milliseconds)
				</script>
			{% endblock %}
